# 1ª Fase: escolha da Base de Dados

In [45]:
# Referência: https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023

In [46]:
# Importar bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [13]:
# Configurar estilo dos gráficos
sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

# Carregar os dados
df = pd.read_csv('./dados/spotify-2023.csv', encoding='latin1')

# 2. Análise e Tratamento dos dados

In [14]:
# Visualizar as primeiras linhas
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

# 2.1 Dicionário das colunas

#### track_name -> Nome da música        
#### artist(s)_name -> Nome do(s) artista(s) da música
#### artist_count ->  Número de artistas contribuintes da música
#### released_year -> Ano de lançamento da música
#### released_month -> Mês que a música foi lançada 
#### released_day ->   Dia que foi lançada a música
#### in_spotify_playlists -> Número de playlists do spotify que ela está inclusa     
#### in_spotify_charts -> Presença e classificação da música nas paradas do Spotify     
#### streams -> Número total de transmissões no Spotify 
#### in_apple_playlists -> Número de playlists do Apple Music em que a música está incluída

In [29]:
# verificar valores ausentes, tipos de dados de cada coluna
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [32]:
#quantidade de linhas e colunas
df.shape

(953, 24)

In [31]:
# Estatísticas descritivas
df.describe(include='all')

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,953,953,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953,953.000000,...,953.000000,858,953,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
unique,943,645,NaN,NaN,NaN,NaN,NaN,NaN,949,NaN,...,NaN,11,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Flowers,Taylor Swift,NaN,NaN,NaN,NaN,NaN,NaN,395591396,NaN,...,NaN,C#,Major,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,34,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,...,NaN,120,550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.556139,2018.238195,6.033578,13.930745,5200.124869,12.009444,NaN,67.812172,...,122.540399,NaN,NaN,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,NaN,NaN,0.893044,11.116218,3.566435,9.201949,7897.608990,19.575992,NaN,86.441493,...,28.057802,NaN,NaN,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,NaN,NaN,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,NaN,0.000000,...,65.000000,NaN,NaN,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,NaN,NaN,1.000000,2020.000000,3.000000,6.000000,875.000000,0.000000,NaN,13.000000,...,100.000000,NaN,NaN,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,NaN,NaN,1.000000,2022.000000,6.000000,13.000000,2224.000000,3.000000,NaN,34.000000,...,121.000000,NaN,NaN,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,NaN,NaN,2.000000,2022.000000,9.000000,22.000000,5542.000000,16.000000,NaN,88.000000,...,140.000000,NaN,NaN,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,NaN,NaN,8.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,NaN,672.000000,...,206.000000,NaN,NaN,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

# 2.2 Limpeza e Pré-processamento

In [34]:
# Verificar valores nulos
print(df.isnull().sum())

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [41]:
# convertendo (in_shazam_charts) para numérico para vizualização
df['in_shazam_charts'] = pd.to_numeric(df['in_shazam_charts'], errors='coerce')

# convertendo coluna streams para numérico para vizualização 
df['streams'] = pd.to_numeric(df['streams'], errors='coerce')

# preenchendo nulos com medianas para coluna (in_shazam_charts)
df['in_shazam_charts'] = df['in_shazam_charts'].fillna(df['in_shazam_charts'].median())

# preenchendo nulos com medias para coluna (streams)
df['streams'] = df['streams'].fillna(df['streams'].mean())

# é melhor descartar nulos na coluna (key)
df = df.dropna()

# checando
df.isnull().sum()

track_name              0
artist(s)_name          0
artist_count            0
released_year           0
released_month          0
released_day            0
in_spotify_playlists    0
in_spotify_charts       0
streams                 0
in_apple_playlists      0
in_apple_charts         0
in_deezer_playlists     0
in_deezer_charts        0
in_shazam_charts        0
bpm                     0
key                     0
mode                    0
danceability_%          0
valence_%               0
energy_%                0
acousticness_%          0
instrumentalness_%      0
liveness_%              0
speechiness_%           0
dtype: int64

In [42]:
# Normalizando colunas com porcentagens para deixar mais fácil para interepretação
percentage_columns = [
    'danceability_%', 'valence_%', 'energy_%', 'acousticness_%', 
    'instrumentalness_%', 'liveness_%', 'speechiness_%'
]
df[percentage_columns] = df[percentage_columns] / 100

In [43]:
duplicados = df.duplicated()  # Retorna uma série booleana (True para linhas duplicadas)
print(df[duplicados])  # Mostra apenas as linhas duplicadas

Empty DataFrame
Columns: [track_name, artist(s)_name, artist_count, released_year, released_month, released_day, in_spotify_playlists, in_spotify_charts, streams, in_apple_playlists, in_apple_charts, in_deezer_playlists, in_deezer_charts, in_shazam_charts, bpm, key, mode, danceability_%, valence_%, energy_%, acousticness_%, instrumentalness_%, liveness_%, speechiness_%]
Index: []

[0 rows x 24 columns]

# 3ª Fase: Modelagem e Avaliação

# Referência: https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023

# FIM